.form-control {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-control label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="number"] ,
.form-control input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  margin-right: 5px;
}

.form-control input[type="radio"]+label,
.form-control input[type="checkbox"]+label {
  font-weight: normal;
}