.authentication__header {
    color: white;
    text-align: center;
}

.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
}

.addQuestionForm {
    width: 90%;
    max-width: 50rem;
    margin: 7rem auto;
    text-align: center;
}

.addQuestionForm form {
    margin-bottom: 1rem;
}

.authentication form {
    margin-bottom: 1rem;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #0056b3;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #1f8c39;
}

.custom-button {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #e68900;
}